@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
  font-family: "EB Garamond", serif;

}

.fundo{
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #cebb97;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entrada{
  background-color: #ffffff;
  width: 70%;
  min-height: 100vh;
  max-height: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.247);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.postagensContainer{
  width: 100%;
  height: fit-content;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  transition: padding 0.1s;
  align-items: center;  
}

.postagemContainer{
  width: 100%;
  height: 15vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
  border-radius: 3px;
  flex-direction: column;
  transition: padding 0.1s;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  transition: box-shadow 0.1s;
}

.postagemContainer:hover{
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.881);
}

.postagemContainer:active{
  opacity: 0.5;
}

.textos{
  padding: 2%;
}

.tituloPostagem{
  vertical-align: middle;
  padding-left: 10px;
}

.containerImagem{
  width: 10%;
  display: flex;
  justify-content: center;
  border: 0.2px solid black;
  border-radius: 3px;
}

.imagemItem{
  width: 80%;
  object-fit: contain;
}

.conteudo{
  width: 50%;
  height: (fit-content - 2%);
  align-self: center;
  overflow: hidden;
}

.conteudoPostagem{
  max-height: 10vh;
}

.imagemNula{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}